config/jei/bookmarks.ini
config/jei/worldSettings.cfg
config/mobends.cfg
config/forestry/common.cfg
.mixin.out/
libraries/
llibrary/
logs/
mods/memory_repo/
mods/1.12.2/
mods/# LibLoader.jar
mods/Pixelmon-1.12.2-*.jar
crafttweaker.log
usercache.json
backups/
Biome Bundle-*.zip
world_homc-*.zip
world_homc/
config/splash.properties
crash-reports/
local/ftbutilities/backups.json
config/splash.properties
usernamecache.json

WailaErrorOutput.txt

*.dat

*.log

caches/

journeymap/

resourcepacks/

saves/

screenshots/

local/

natives/

tv-cache/

hei_bookmarks.ini

optionsshaders.txt

config.json
